@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    // Setting dynamic REM size
	$min-fs : 14px; // Minimum Font Size
	$max-fs : 16px; // Maximum Font Size
	$min-vw : 600px; // Minimum Window width
	$max-vw : 1240px; // Maximum Window width
    // font sizing
	// font-size: calc( (100vw - $min-vw) / (unit($max-vw) - unit($min-vw)") * ("unit($max-fs) - unit($min-fs)") +" $min-fs);
  	@media (max-width: $min-vw) { font-size: $min-fs; }
  	@media (min-width: $max-vw) { font-size: $max-fs; }
}

body {
    line-height: 1;
    text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

// Text Transformations
.lower { text-transform: lowercase; }
.upper { text-transform: uppercase; }

// Font weight
.w100, .thin { font-weight: 100; }
.w200, .extra_light { font-weight: 200; }
.w300, .light { font-weight: 300; }
.w400, .normal{ font-weight: 400; }
.w500, .medium,  { font-weight: 500; }
.w600, .bold { font-weight: 600; }

h1, .h1 {
	font-size: 3.6rem;
	color: $primary-accent;
	font-family: $montserrat;
	letter-spacing: .19px;
	line-height: 1;
	span.headline_break {
		font-family: $roboto;
		letter-spacing: .6px;
		font-weight: 300;
		font-style: italic;
		font-size: .585em;
		line-height: 1;
	}

	@media (max-width: 600px) {
		font-size: 2.8rem;
	}
}
h2, .h2 {
	font-size: 2.5rem;
	letter-spacing: 1.2px;
	font-family: $roboto;
	color: $whiteish;
	font-style: italic;
	font-weight: 300;
	@media (max-width: 600px) {
		font-size: 1.45rem;
	}
} // = 36px / 16 (base rem size)

h3, .h3 {
	font-size: 1.4rem;
	font-family: $roboto;
	color: $primary-accent;
	font-style: italic;
	line-height: 2;

	@media (max-width: 600px) {
		font-size: 1rem;
	}

	&.feature-title {
		font-size: 3.6rem;
		padding-bottom: 1.25rem;
		line-height: 1;
		font-weight: 300;
	}
} // = px / 16 (base rem size)

h4, .h4 {
	font-size: 1.8rem;
	font-family: $montserrat;
	font-style: italic;
	color: $church-primary;

} // = px / 16 (base rem size)

h5, .h5 {
	font-size: 1.125rem;
	font-family: $roboto;
	color: $secondary;
	font-weight: 500;
	&.event-title {
		font-family: $montserrat;
	}
}

h6, .h6 {
	font-size: 1.5rem;
	font-family: $montserrat;
	font-weight: 300;
	color: $primary-accent;
}

p {
	font-size: 1.1rem;
	font-family: $roboto;
	// color: $secondary;
	font-weight: 300;
	padding-top: .5rem;
}