$primary: #1B364A;
$secondary: #366A8F; //font
$font: $secondary;
$secondary-accent: #2C5979;
$primary-accent: #F5D130;
$footer: #407DA8;
$background: #eeeeee;

$background-dark: $primary;
$primary-dark: #407DA8;
$font-dark: #99C3E1;
$whiteish: #FCFDFE;

$church-primary: #54A3DB;
$church-secondary: #4D2B0E;

$content-max-width: 1464px;

$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

