// @import "normalize.css/normalize.css";
@import "the-new-css-reset/css/reset.css";

// @import "node_modules/@drewbot/sass-flexbox-grid/public/sass-flexbox/scss/main.scss";

@import "./scss/variables";
@import "./scss/layout";
@import "./scss/typography";


body {
  background-color: $background;
  overflow-x: hidden;
  min-height: 100vh;

  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  // color: inherit;
  font-weight: 300;
}

main {
  overflow-x: clip;
  @media (min-width: 600px) {
    margin-top: 70px;
  }
}

// port to helpers
.full-height {
  height: 85vh;
}